body{
    background-color: rgb(222, 212, 223);
    color: rgb(111, 14, 105);
    
}
h1{
    color: rgb(111, 14, 105);
    text-align: center;
}

@media all and (max-width:500px){
    body{
        color: red;
    }
}









